<div class="relative bg-white isolate w-screen h-screen transition-all">
    <div class="grid-cols-1 transition-all ease-in-out xl:grid-cols-2 max-w-7xl grid mx-auto">
        <div class="py-24 px-24 transition-all ease-in-out xl:px-8 xl:py-48 relative xl:static">
            <div class="transition-all ease-in-out mx-auto xl:mx-0 xl:max-w-lg">
                <div
                    class="transition-all ease-in-out ring-1 ring-slate-200 bg-slate-100 overflow-hidden absolute left-0 top-0 bottom-0 -z-10 w-full xl:w-1/2">
                    <svg class="stroke-slate-200 w-full h-full border-none"
                        style="mask-image: radial-gradient(100% 100% at top right,white,transparent);"
                        aria-hidden="true">
                        <defs>
                            <pattern id="83fd4e5a-9d52-42fc-97b6-718e5d7ee527" width="200" height="200" x="100%" y="-1"
                                patternUnits="userSpaceOnUse">
                                <path d="M130 200V.5M.5 .5H200" fill="none"></path>
                            </pattern>
                        </defs>
                        <rect width="100%" height="100%" stroke-width="0" fill="white"></rect>
                        <svg x="100%" y="-1" class="fill-slate-100 overflow-visible">
                            <path d="M-470.5 0h201v201h-201Z" stroke-width="0"></path>
                        </svg>
                        <rect width="100%" height="100%" stroke-width="0"
                            fill="url(#83fd4e5a-9d52-42fc-97b6-718e5d7ee527)"></rect>
                    </svg>
                </div>
                <h2 class="font-bold text-3xl">Get in touch</h2>
                <p class="mt-6 text-lg leading-8">Proin volutpat consequat porttitor cras nullam gravida at. Orci
                    molestie a eu
                    arcu. Sed ut tincidunt integer elementum id sem. Arcu sed malesuada et magna.</p>
                <dl class="mt-10 text-base leading-7 text-slate-700">
                    <div class="flex gap-x-4">
                        <dt class="flex-none"><span class="icon">Address</span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true" class="text-slate-400 w-6 h-7">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M2.25 21h19.5m-18-18v18m10.5-18v18m6-13.5V21M6.75 6.75h.75m-.75 3h.75m-.75 3h.75m3-6h.75m-.75 3h.75m-.75 3h.75M6.75 21v-3.375c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21M3 3h12m-.75 4.5H21m-3.75 3.75h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008zm0 3h.008v.008h-.008v-.008z">
                                </path>
                            </svg>
                        </dt>
                        <dd>545 Mavis Island<br>Chicago, IL 99191</dd>
                    </div>
                    <div class="flex gap-x-4 my-4">
                        <dt class="flex-none"><span class="icon">Telephone</span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true" class="text-slate-400 w-6 h-7">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z">
                                </path>
                            </svg>
                        </dt>
                        <dd><a class="blb" href="tel:+1 (555) 234-5678">+1 (555) 234-5678</a></dd>
                    </div>
                    <div class="flex gap-x-4">
                        <dt class="flex-none"><span class="icon">Email</span>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true" class="text-slate-400 w-6 h-7">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75">
                                </path>
                            </svg>
                        </dt>
                        <dd><a class="blb" href="mailto:hello@example.com">{{ 'hello@example.com' }}</a></dd>
                    </div>
                </dl>
            </div>
        </div>
        <form class="pt-12 pb-8 px-6 transition-all ease-in-out xl:px-8 xl:pt-24">
            <img src="../../../assets/logos/logo.png" class="h-28 m-auto" alt="Cute Sushi">
            <div class="mt-12">
                <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your email</label>
                <input type="email" id="email" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="name@cute-sushi.com" required>
            </div>
            <div class="mt-4">
                <label for="subject" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Subject</label>
                <input type="text" id="subject" class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500 dark:shadow-sm-light" placeholder="Let us know how we can help you" required>
            </div>
            <div class="mt-4 sm:col-span-2">
                <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Your message</label>
                <textarea id="message" rows="6" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Leave a comment..."></textarea>
            </div>
            <button type="submit" class="float-right mt-4 py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-primary-600 sm:w-fit hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Send message</button>
        </form>
    </div>
</div>